body {
    background-color: skyblue;
    font-family: 'EB Garamond','Nova Square', serif;
    padding: 0%;
    margin: 0%;
    padding-top: 100px;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
}

ul {
    margin: 0;
}

.nav-bar {
    padding: 0;
    margin: 0;
    position: top;
    background-color: white;
    top: 0;
    height: 100px;
    width: 100%;
	z-index: 999;
}

.menu {
	font-size: 80%;
	letter-spacing: 3px;
	line-height: 40px;
	float: right;
	overflow: hidden;
}

.menu a {
	margin-right: 40px;
	margin-top: 35px;
	float: left;
    position: relative;
	text-decoration: none;
    font-size: 125%;
	
}

.choices {
    display: flex;
    justify-content: center;
}

.choice {
    cursor: pointer;
    font-size: 200%;
}

.results {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}